* {
  margin: 0;
  padding: 0;
}
/* adjust the head page */
#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background:rgba(0, 0, 0, 0.863);
  color: aliceblue;
  height: 200px;
}

/* rmove the dot from ul elements */
ul {
  list-style: none;
}

#title {
  text-align: center;
  font-size: 50px;
  justify-content: center;
  margin-right: 70px;
}

.ulHead {
  padding: 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color:aliceblue;
}

/* to make t up right the page */
#sign-btn {
  display: flex;
  gap: 10px;
}

/* design the buttons */
#sign-up,
#sign-in {
  background:dimgrey;
  color: aliceblue;
  width: 60px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

#process-section {
  background: gray;
  display: flex;
  justify-content: center;
  font-size: 60px;
}

#process-section button {
  padding: 0px 80px;
  margin: 0px 70px;
  border-radius: 10px;
  font-size: 25px;
  background: rgb(255, 20, 20);
  cursor: pointer;
}

#card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(rgba(5, 5, 5, 0.4), rgb(250, 250, 250, 1));
}

.row {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.card {
  width: 200px;
  height: 300px;
  background-image: url("../images/10104821.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
  border-radius: 10px;
  margin: 10px 0px;
}

#footer {
  background: gray;
  font-size: 80px;
}
